*{
  margin: 0;
  box-sizing: border-box;
}
.side-bar{
  background-color:  #382f9c;
}
.main-menu {
  background-color:  #ffffff;

}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  font-weight: bolder;
  font-size: 14px;
  color: #7f7f7f;

  text-align: left;
  padding: 15px;
}
tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

td,
th:nth-child(1) {
  border-right: 2px solid;
  border-color: #f4f4f4;
}
td,
th:nth-child(2) {
  border-right: 2px solid;
  border-color: #f4f4f4;
}
td,
th:nth-child(3) {
  border-right: 2px solid;
  border-color: #f4f4f4;
}
td,
th:nth-child(4) {
  border-right: 2px solid;
  border-color: #f4f4f4;
}
.onhover:hover {
  background-color: gainsboro;
  border: 1px solid gainsboro;
}
.dash:hover {
  color: white;
}
.wk:hover {
  background-color: #382f9c;
  color: white;
}
.wk {
  background-color: #f4f4f4;
}

.timesheet1{
  background-color: #d0d0d0;
   color: #382f9c;
}
.timesheet2{
  background-color: #f5f1e3;
  color: #c7aa56;
}

.timesheet3{
  background-color: #fae9ed;
   color: #fe6a8d;
}
.timesheet4{
  background-color: #dfe9fa;
  color: #7f7f7f;
}
.timesheet5{
  background-color: #f5f1e3;
  color: #c7aa56;
}
.leftArrow{
  position: absolute;
  right: -15px;
  z-index: 1000;
  padding: 2px;
  background: white;
  border-radius: 50%
}
.green{
  background-color: #39c084; color: #ffffff
}
.red{
  background-color: #eecfcf; color: #f33c3c
}
.bluish{
  background-color: #382f9c;
  border-radius: 4px;

}
.whitish{
  background-color: #ffffff;
  border-radius: 4px;

}